.inbox-toolbar {
  top: 5px;
  position: relative;
  display: inline-block;

  @media (min-width: $screen-md-min) {
    top: 10px;   
  }
}

.inbox-avatar {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.inbox-avatar-name {
  text-align: left;
  padding-left: 12.5px;
  display: inline-block;
  vertical-align: middle;

  >div:first-child {
    top: 5px;
    position: relative;
  }

  >div:last-child > small {
    top: -5px;
    position: relative;
  }
}

.inbox-nav {
  border-right: 1px solid #EEE;
}

.inbox-nav .badge {
  width: 10px;
  height: 14px;
  margin-top: -3px;
  margin-right: 10px;
  border-radius: 100px; 
  vertical-align: middle;
}

.inbox-nav .list-group-item {
  border: none;
  border-radius: 0;
  padding: 10px 25px;
  margin: - $line-height-computed;
  margin-top: 0;
  margin-bottom: 5px;

  &:hover, &:focus {
    border: none !important;
  }
}

.inbox-nav hr {
  margin-top: -5px;
}

.inbox-nav .list-group-item .inbox-item-icon {
  float: left;
  font-size: 18px;
  position: relative;
  vertical-align: baseline;
  margin-right: $line-height-computed / 2;

  & ~ span {
    top: 5px;
    position: relative;
  }
}

.inbox-item {
  color: inherit;
  display: block;
  padding-bottom: 0 !important;
  margin-left: - $line-height-computed;
  margin-right: - $line-height-computed;
  padding-left: $line-height-computed;
  padding-right: $line-height-computed;
  border-bottom: 1px solid #eee !important;
  background: #f9f9f9;

  &:last-child {
    border-bottom: none !important;
  }

  &.unread {
    background: white;
  }

  &:hover, &:focus {
    color: inherit;
    background: rgba(255, 255, 102, 0.2);
  }

  img {
    padding: 2px;
    border-radius: 100px;
    border: 2px solid #eee;
  }
  .inbox-avatar-name > div:first-child {
    top: 2px;
  }
}

.inbox-date {
  float: right;
}

.inbox-attachments > .rubix-icon {
  float: left;
  line-height: 1;

  & ~ span {
    top: -2px;
    left: 10px;
    position: relative;
  }
}

.inbox-attachment-download {
  float: right;
}
