.navbar.navbar-default {
	background-color: #1664B1;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	text-decoration: underline;
	color: #fff;

}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	text-decoration: underline;
	color: #fff;
}

body {
    background-color: #E9F0F5;
}

/*-------singleNote-----*/
.noteBox {
    border: solid 1.5px lightgrey;
    border-radius: 4px;
    max-width: 600px;
    max-height: 400px;
    display: block;
    margin: auto;
    padding: 10px;
}

.saveButton {
    display: block;
    border: none;
    background-color: #5ec95e;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    float: right;
}

.noteTextarea {
    display: inline-block;
    border: 1px solid #dadce1;
    border-radius: 2px;
    padding: 8px;
    max-width: 550px;
    margin: 8px;
}

.glyphicon-pencil {
    margin: 5px;
    border: none;
    background-color: lightgrey;
/*    color: white;*/
    width: 35px;
    height: 25px;
    border-radius: 25px;
    display: inline-block;
}

/*-------Notes-------*/

.notesCard {
    background-color: white;
    margin: 10px;
    border-radius: 5px;

}

.notesCardTitle {
    background-color: #55C9A6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2px;

}

.notesCardText {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 300px;
    max-height: 800px;
    padding: 15px;
    background-color: white;
    color: grey;
}

.noteTitle {
    color: white;
    text-decoration: none;
    font-weight: 200;
    margin: 10px;
}