/*-------General--------*/
h1 {
  padding-left: 20px;
  font-weight: bold;
}

body {
    background-color: #fff;
}

.col-md-4 {
    border: solid 1px lightgrey;
    border-radius: 6px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 225px;
}

/*-------Navbar-----*/
.navbar.navbar-default {
	background-color: #1664B1;
}

.navbar-default .navbar-brand {
	color: #fff;
}

/*
.squishLogo {
    width: 120px;
    height: 70px;
}
*/

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default, .navbar-default .navbar-nav>li>a:hover {
	color: #45A8F7;
    cursor: pointer;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #45A8F7;
}

.squish-logo {
    height: 30px;
    width: 65px;
    position: center;
}

a:focus, a:hover {
    text-decoration: none;
} 

/*-------singleNote-----*/
.noteBox {
    border: solid 1.5px lightgrey;
    border-radius: 4px;
    max-width: 600px;
    max-height: 900px;
    display: block;
    margin: auto;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.newNoteBox {
	border: solid 1.5px lightgrey;
    border-radius: 4px;
    max-width: 600px;
    max-height: 900px;
    display: block;
    margin: auto;
    padding: 15px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.saveButton {
    display: inline-block;
    border: none;
    background-color: #5ec95e;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    float: right;
	margin: 15px;
	margin-bottom: 20px;
}

.noteTextarea {
    display: inline-block;
    border: 1px solid #dadce1;
    border-radius: 4px;
    padding: 8px;
    max-width: 550px;
    max-height: 600px;
    margin: 10px;
	overflow-y: hidden;
}

.newNoteTextarea {
	display: inline-block;
    border: 1px solid #dadce1;
    border-radius: 4px;
    padding: 8px;
    max-width: 550px;
    max-height: 600px;
	height: 300px;
    margin: 10px;
}

.noteInput {
	display: inline-block;
    border: 1px solid #dadce1;
    border-radius: 4px;
    padding: 8px;
    max-width: 550px;
    height: 35px;
    margin: 10px;
}

.newNoteInput {
	display: inline-block;
    border: 1px solid #dadce1;
    border-radius: 4px;
    padding: 8px;
    max-width: 550px;
    height: 35px;
    margin: 10px;
}

.glyphicon-pencil {
    margin: 5px;
    border: none;
    background-color: lightgrey;
/*    color: white;*/
    width: 35px;
    height: 25px;
    border-radius: 25px;
    display: inline-block;
}

.noteHeading {
    margin: 20px 15px 0;
    font-weight: 100;
}

/*-------Notes-------*/

.notesCard {
    background-color: white;
    margin: 12px;
    border-radius: 5px;

}

.notesCardTitle {
    background-color: #55C9A6;
/*    background-color: #45A8F7;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2px;

}

.notesCardText {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 300px;
    padding: 15px;
    background-color: white;
    color: grey;
}

.noteTitle {
    color: white;
    text-decoration: none;
    font-weight: 400;
    margin: 15px;
    
},

/*
.glyphicon-plus {
    font-size: 15px; 
}
*/



/*------CALENDAR------*/

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.clndr-grid .weekday-header {
    width: 100px;
    height: 50px;
    line-height: 50px;
    display: block;
    background: #1664B1;
    border: 1.5px solid #fff;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #444;
    border: 1.5px solid #fff;
}

#app {
    margin-top: 50px;
}

.clndr-controls div {
    background: #009DE7;
    color: white;
    display: inline-block;
    width: 30%;
    padding:5px;
    text-align: center;
    cursor: pointer;
/*    border-radius: 5px;*/
    margin-top: 50px;
}

.clndr-controls .current-month {
    width: 40%;
    background: #004B98;
    color: #fff;
    border-radius: 0;
    
}


.clndr {
    width: 700px;
    margin: 0 auto;
}

.clndr-grid {
    text-align: center;
}

.clndr-grid .days div {
    text-align: center;
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    border: 1.5px solid #eee;
/*    border-radius: ;*/
}

.clndr-grid .day-headers div {
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #eee;
}

.prev-month, .next-month {
    color: #ccc;
}

.clearfix {
    clear: both;
}

/*deadline*/

.deadline {
    float: left;
    width: 100px;
    height: 47.8px;
    color: white;
    text-align: center;
/*    border-radius: 5px;*/
    background: #f19797; 
/*    padding: 0%;*/

}



/*--------Points Dashboard---------*/
.points {
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.pointsTitle {
    margin-left: 20px;
}

.myPoints {
    font-weight: bold;
    text-align: center;
    color: #1664B1;
    font-family: courier;
}

/*--------footer---------*/

.footer {
    height:20px;
    width: 100%;
/*  background-color: #89949B;*/
    background-color: #273135;
    margin-top: 50px;
    clear: both;
    position: fixed;
    bottom: 0;
}

.footerText {
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    font-size: 11px;   
}

/*--------feedback---------*/

iframe.feedback {
    height:100%;
    width:100%;
    border:none;