.navbar.navbar-default {
	background-color: #284F9A;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: black;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: black;
}