.accordian {
  padding: 0;
  list-style: none;
  border: 1px solid #E0E0E0;
  border-bottom: none;
}

.accordian-title {
  border: none;
  display: block;
  color: inherit;
  background: #F9F9F9;
  border-bottom: 1px solid #E0E0E0 !important;
  padding: $line-height-computed / 2 !important;
}

.accordian-body {
  border-bottom: 1px solid #E0E0E0;
  padding: $line-height-computed / 2;
}
