.alert-success .alert-link {
  border-color: #2B542B;
}
.alert-info .alert-link {
  border-color: #245369;
}
.alert-warning .alert-link {
  border-color: #66502C;
}
.alert-danger .alert-link {
  border-color: #843534;
}
.media > a {
  border: none;
}
